body {
    background: #f8f9fa;
    color: #495057;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.79;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: clip;
}

[class*="__container"] {
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: 83.125rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    width: 100vw;
    flex: 1 1 auto;
}

.title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.875rem;

    color: #FFFFFF;
    text-shadow: 0.0313rem .5008px 0.0625rem rgb(54, 54, 54),
        -0.0313rem -0.0313rem 0.0625rem rgb(255, 255, 255);
}

.title--dark {
    color: #495057;
}


.text {
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.67;
}

.text-shadow {
    text-shadow: 0.0313rem .5008px 0.0625rem rgb(54, 54, 54),
        -0.0313rem -0.0313rem 0.0625rem rgb(255, 255, 255);
}

[data-item] {
    transform: translate(0px, 3.125rem);
    opacity: 0;
    transition: all 0.8s;
}

[data-item].active {
    transform: translate(0, 0);
    opacity: 1;
}