body {
    background: #f8f9fa;
    color: #495057;

    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.79;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: clip;

    outline: 2px dotted rgb(0, 21, 255);
}

[class*="__container"] {
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: 83.125rem;

    outline: 2px dotted red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}