<section class="hero">
  <div class="hero__main-slider main-slider swiper">
    <div class="main-slider__wrapper swiper-wrapper">
      <div class="main-slider__slide swiper-slide">
        <img
          class="main-slider__bg"
          src="./images/main-slider/01.jpg"
          alt="Sea"
        />
        <div class="main-slider__container">
          <a href="#" class="main-slider__category category">ADVENTURE</a>
          <div class="main-slider__title title">
            Richird Norton photorealistic rendering as real photos
          </div>
          <div class="main-slider__body">
            <div class="main-slider__date">08.08.2021</div>
            <div class="main-slider__text text">
              <p>
                Progressively incentivize cooperative systems through
                technically sound functionalities. The credibly productivate
                seamless data.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slider__bullets bullets">
      <div class="bullets__container">
        <div class="bullets__items"></div>
      </div>
    </div>
  </div>
</section>
