<section class="home__sections">
  <div class="home__main-slider main-slider swiper">
    <div class="main-slider__wrapper swiper-wrapper">
      <div class="main-slider__slide swiper-slide">
        <img
          class="main-slider__bg"
          src="./images/main-slider/seaside.jpg"
          alt="Sea"
        />
        <div class="main-slider__container">
          <a href="#" class="main-slider__category category">ADVENTURE</a>
          <div class="main-slider__title title">
            Richird Norton photorealistic rendering as real photos
          </div>
          <div class="main-slider__body">
            <div class="main-slider__date">08.01.2023</div>
            <div class="main-slider__text text">
              <p>
                Progressively incentivize cooperative systems through
                technically sound functionalities. The credibly productivate
                seamless data.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img
          class="main-slider__bg"
          src="./images/main-slider/beach.jpg"
          alt="Sea"
        />
        <div class="main-slider__container">
          <a href="#" class="main-slider__category category">ADVENTURE</a>
          <div class="main-slider__title title">
            Explore the art of Vija Celmins
          </div>
          <div class="main-slider__body main-slider__body--dark-blue">
            <div class="main-slider__date">14.08.2022</div>
            <div class="main-slider__text text">
              <p>
                Artist is best known for her meticulous paintings and drawings
                of natural phenomena such as the ocean, spider webs, night
                skies, and deserts.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img
          class="main-slider__bg"
          src="./images/main-slider/sea.jpg"
          alt="Sea"
        />
        <div class="main-slider__container">
          <a href="#" class="main-slider__category category">ADVENTURE</a>
          <div class="main-slider__title title">
            Rachael Talibart is known for her powerful photographs of waves
          </div>
          <div class="main-slider__body">
            <div class="main-slider__date">10.04.2022</div>
            <div class="main-slider__text text">
              <p>
                These beaches lure you in, these are the most enchanting places
                on the planet. There's something about sun, surf and sand that
                makes you want to escape there
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slider__bullets bullets">
      <div class="bullets__container">
        <div class="bullets__items"></div>
      </div>
    </div>
  </div>
</section>
