<div class="home__sections">
  <!-- HERO SLIDERS -->
    <div class="home__main-slider main-slider swiper">
      <div class="main-slider__wrapper swiper-wrapper">
        <div class="main-slider__slide swiper-slide">
          <img
            class="main-slider__bg"
            src="./images/main-slider/seaside.jpg"
            alt="Seaside"  />
          <!-- <video class="main-slider__bg main-video" src="./video/all.mp4" autoplay muted loop></video> -->
          <div class="main-slider__container">
            <div class="main-slider__wrapper-content">
              <div class="main-slider__content">
                <a href="#" class="main-slider__category category">ADVENTURE</a>
                <div class="main-slider__title title">
                  ISLAND OF DREAMS <br> Richard Norton
                </div>
                <div class="main-slider__body">
                  <div class="main-slider__date">08.01.2023</div>
                  <div class="main-slider__text text text-shadow">
                    <p>
                      Islands are a great place to visit, especially when it comes to spending a vacation. The exotic lands,
                      white sand beaches, wildlife, and more such factors are a major attraction for tourists. But there are
                      numerous islands all around the world. Which one shall you visit? This article will guide you to the
                      best islands all around the world which you can visit this year.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-slider__main-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="main-slider__slide swiper-slide">
          <img
            class="main-slider__bg"
            src="./images/main-slider/road.jpg"
            alt="Road"  />
          <!-- <video class="main-slider__bg main-video" src="./video/road.mp4" autoplay muted loop></video> -->
          <div class="main-slider__container">
            <div class="main-slider__wrapper-content">
              <div class="main-slider__content">
                <a href="#" class="main-slider__category category">ADVENTURE</a>
                <div class="main-slider__title title">
                  ROAD TRIP. TOGETHER
                </div>
                <div class="main-slider__body">
                  <div class="main-slider__date">14.08.2022</div>
                  <div class="main-slider__text text">
                    <p>
                      Road trip is one of the best ways to rejuvenate and uplift mood. People who love travelling mostly
                      prefer road trips as they offer a completely different experience. Whether one is going out with
                      family or friends – road trips are considered to be the best way to enjoy the vacation to the fullest.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-slider__main-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="main-slider__slide swiper-slide">
          <img
            class="main-slider__bg"
            src="./images/main-slider/mount.jpg"
            alt="City near Mountain View"
          />
          <!-- <video class="main-slider__bg main-video" src="./video/hill.mp4" autoplay muted loop></video> -->
          <div class="main-slider__container">
            <div class="main-slider__wrapper-content">
              <div class="main-slider__content">
                <a href="#" class="main-slider__category category">ADVENTURE</a>
                <div class="main-slider__title title">
                  MOUNTAIN WORLD
                </div>
                <div class="main-slider__body">
                  <div class="main-slider__date">10.04.2022</div>
                  <div class="main-slider__text text">
                    <p>
                      Mountain climbing has been on the bucket list of many people. It is an activity which is considered to
                      be very exciting and adventurous. Moreover, it is something you will find to be very common all across
                      the world.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-slider__main-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="main-slider__slide swiper-slide">
          <img
            class="main-slider__bg"
            src="./images/main-slider/nature.jpg"
            alt="Wild nature. Lake"
          />
          <!-- <video class="main-slider__bg main-video" src="./video/forest.mp4" autoplay muted loop></video> -->
          <div class="main-slider__container">
            <div class="main-slider__wrapper-content">
              <div class="main-slider__content">
                <a href="#" class="main-slider__category category">ADVENTURE</a>
                <div class="main-slider__title title">
                  FEELING FREE IN WILD NATURE
                </div>
                <div class="main-slider__body">
                  <div class="main-slider__date">10.04.2022</div>
                  <div class="main-slider__text text">
                    <p>
                      Nature... Forest... Special Place to Relax and Find Inspiration.
                      People usually prefer going to some special places that relax and inspire them. Visiting these places
                      helps de-stress them and fills them with a new energy to face tough situations in life.
                    </p>
                  </div>
                </div>
              </div>
              <div class="main-slider__main-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__bullets bullets">
        <div class="bullets__container">
          <div class="bullets__items"></div>
        </div>
      </div>
    </div>
  <!-- SECTION POPULAR -->
  <section class="home__popular popular">
    <div class="popular__container">
      <div data-item class="popular__header">
        <h2 class="popular__title title title--dark">Popular topics</h2>
        <nav class="popular__nav nav-popular">
          <button type="button" class="nav-popular__item active">
            All
          </button>
          <button type="button" class="nav-popular__item">
            Adventure
          </button>
          <button type="button" class="nav-popular__item">Travel</button>
          <button type="button" class="nav-popular__item">Fashion</button>
          <button type="button" class="nav-popular__item">Technology</button>
        </nav>
      </div>
      <div class="popular__content">
        <!-- all -->
        <div class="popular__tab active">
          <div class="popular__items">
            <!-- adventure -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">ADVENTURE</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/paris.jpg" alt="Paris" width="310" /></a>
              <div class="item-popular__date">08.03.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Dream destinations to visit this year in Paris</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- travel -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TRAVEL</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/europe.jpg" alt="Italy mountains" width="310" /></a>
              <div class="item-popular__date">18.04.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Breathtaking first-person photos around Europe</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- technology -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TECHNOLOGY</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/authenticity.jpg" alt="Authenticity woman" width="310" /></a>
              <div class="item-popular__date">30.06.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">What collectors need to know about authenticity</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- fashion -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">FASHION</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/instagram.jpg" alt="Girls" width="310" /></a>
              <div class="item-popular__date">23.08.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Instagram artists with great photography skills</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- adventure -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">ADVENTURE</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Cave-beach-Algarve-Portugal.jpg" alt="cave" width="310" /></a>
              <div class="item-popular__date">13.10.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Cave-beach-Algarve. Portugal</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- travel -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TRAVEL</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/El-Nido-Philippenes.jpg" alt="El-Nido-Philippenes" width="310" /></a>
              <div class="item-popular__date">27.04.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">El-Nido. Philippenes</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- technology -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TECHNOLOGY</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Zanzibar-beach.jpg" alt="Zanzibar-beach" width="310" /></a>
              <div class="item-popular__date">30.11.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Zanzibar beach</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- fashion -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">FASHION</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/fashion.jpg" alt="Fashion kids" width="310" /></a>
              <div class="item-popular__date">25.10.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Nina Smith vibrant work collab with Nike Dunk</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- travel -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TRAVEL</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Beach-of-the-Cathedrals-Spain.jpg" alt="Beach-of-the-Cathedrals-Spain"
                  width="310" /></a>
              <div class="item-popular__date">27.04.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Beach-of-the-Cathedrals. Spain</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!--technology   -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TECHNOLOGY</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Navagio-Zakynthos-Greece.jpg" alt="Seaside" width="310" /></a>
              <div class="item-popular__date">30.11.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Navagio-Zakynthos. Greece</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- adventure -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">ADVENTURE</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Anse-Source-d-Argent-Seychelles.jpg" alt="Anse-Source-d-Argent-Seychelles"
                  width="310" /></a>
              <div class="item-popular__date">03.10.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Anse-Source-d-Argent. Seychelles</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- fashion -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">FASHION</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/toys.jpg" alt="Spiderman Toy" width="310" /></a>
              <div class="item-popular__date">25.12.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">25 quality collectors toys inspired by famous films</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
          </div>
        </div>
        <!-- ADVENTURE TAB-->
        <div class="popular__tab">
          <div class="popular__items">
            <!-- 1 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">ADVENTURE</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/paris.jpg" alt="Paris" width="310" /></a>
              <div class="item-popular__date">08.03.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Dream destinations to visit this year in Paris</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 2 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">ADVENTURE</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Cave-beach-Algarve-Portugal.jpg" alt="cave" width="310" /></a>
              <div class="item-popular__date">13.10.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Cave-beach-Algarve. Portugal</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 3 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">ADVENTURE</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Anse-Source-d-Argent-Seychelles.jpg" alt="Anse-Source-d-Argent-Seychelles"
                  width="310" /></a>
              <div class="item-popular__date">03.10.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Anse-Source-d-Argent. Seychelles</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
          </div>
        </div>
        <!-- TRAVEL TAB-->
        <div class="popular__tab">
          <div class="popular__items">
            <!-- 1 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TRAVEL</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/europe.jpg" alt="Italy mountains" width="310" /></a>
              <div class="item-popular__date">18.04.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Breathtaking first-person photos around Europe</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 2 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TRAVEL</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/El-Nido-Philippenes.jpg" alt="El-Nido-Philippenes" width="310" /></a>
              <div class="item-popular__date">27.04.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">El-Nido. Philippenes</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 3 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TRAVEL</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Beach-of-the-Cathedrals-Spain.jpg" alt="Beach-of-the-Cathedrals-Spain"
                  width="310" /></a>
              <div class="item-popular__date">27.04.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Beach-of-the-Cathedrals. Spain</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
          </div>
        </div>
        <!-- FASHION TAB-->
        <div class="popular__tab">
          <div class="popular__items">
            <!-- 1 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">FASHION</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/instagram.jpg" alt="Girls" width="310" /></a>
              <div class="item-popular__date">23.08.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Instagram artists with great photography skills</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 2 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">FASHION</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/fashion.jpg" alt="Fashion kids" width="310" /></a>
              <div class="item-popular__date">25.10.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Nina Smith vibrant work collab with Nike Dunk</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 3 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">FASHION</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/toys.jpg" alt="Spiderman Toy" width="310" /></a>
              <div class="item-popular__date">25.12.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">25 quality collectors toys inspired by famous films</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
          </div>
        </div>
        <!-- TECHNOLOGY TAB-->
        <div class="popular__tab">
          <div class="popular__items">
            <!-- 1 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TECHNOLOGY</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/authenticity.jpg" alt="Authenticity woman" width="310" /></a>
              <div class="item-popular__date">30.06.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">What collectors need to know about authenticity</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 2 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TECHNOLOGY</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Navagio-Zakynthos-Greece.jpg" alt="Seaside" width="310" /></a>
              <div class="item-popular__date">30.11.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Navagio-Zakynthos. Greece</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
            <!-- 3 -->
            <article data-item class="popular__item item-popular">
              <a href="#" class="item-popular__category category">TECHNOLOGY</a>
              <a href="#" class="item-popular__image">
                <img src="./images/popular/Zanzibar-beach.jpg" alt="Zanzibar-beach" width="310" /></a>
              <div class="item-popular__date">30.11.2022</div>
              <h3 class="item-popular__title">
                <a href="#" class="item-popular__link-title">Zanzibar beach</a>
              </h3>
              <div class="item-popular__text text ">
                <p>
                  Progressively incentivize cooperative systems through
                  technically sound functionalities. Credibly productivate
                  seamless data with flexible schemas.
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
  </section>
  <!-- SECTION BIG-POST -->
  <section class="home__big-post big-post">
    <div class="big-post__container">
      <a data-item href="#" class="big-post__category category">FASHION</a>
      <h2 data-item class="big-post__title title">
        <a href="#" class="big-post__link-title">Richard Norton photorealistic rendering as real photos</a>
      </h2>
      <div data-item class="big-post__text text text-shadow">
        <p>Progressively incentivize cooperative systems through technically sound functionalities. The credibly
          productivate seamless data.</p>
      </div>
      <a data-item href="#" class="big-post__author">By Jennifer Lawrence</a>
    </div>
    <div class="big-post__bg">
      <!-- <img src="./images/big-post/image.jpg" alt="Sea" width="100"> -->
      <video class="big-post__video" src="./video/video-big-post.mp4" autoplay muted loop>
      </video>
    </div>
  </section>
  <!-- SECTION RELATED -->
  <section class="home__related related">
    <div class="related__container">
      <h2 data-item class="related__title title title--dark">Related Posts</h2>
      <div class="related__items">
        <article data-item class="related__item item-related">
          <a href="#" class="item-related__category category">ADVENTURE</a>
          <a href="" class="item-related__content">
            <div class="item-related__date">08.08.2022</div>
            <h3 class="item-related__title">Richard Norton photorealistic rendering as real photos</h3>
            <div class="item-related__text">
              <p>Progressively incentivize cooperative systems through technically sound functionalities. The credibly
                productivate seamless data.</p>
            </div>
          </a>
          <div class="item-related__image">
            <img src="./images/related/Black-sand-Maui-Punaluu.jpg" alt="Black sand in Maui Punaluu" width="420"
              height="350">
          </div>
        </article>
        <article data-item class="related__item item-related">
          <a href="#" class="item-related__category category">TRAVEL</a>
          <a href="" class="item-related__content">
            <div class="item-related__date">18.09.2022</div>
            <h3 class="item-related__title">Hidden Beach in Mexico</h3>
            <div class="item-related__text">
              <p>The young, volcanic nature of the Hawaiian islands make it home to a number of vividly black beaches.
                Maui’s Wainapanapa State Park also boasts a beach with deep ebony lava sand.</p>
            </div>
          </a>
          <div class="item-related__image">
            <img src="./images/related/Hidden-Beach-Mexico.jpg" alt="Hidden Beach Mexico" width="420" height="350">
          </div>
        </article>
        <article data-item class="related__item item-related">
          <a href="#" class="item-related__category category">FASHION</a>
          <a href="" class="item-related__content">
            <div class="item-related__date">03.10.2022</div>
            <h3 class="item-related__title">Fashion Revolution</h3>
            <div class="item-related__text">
              <p>Fashion is best defined simply as the style or styles of clothing and accessories worn at any given
                time by groups of people. We love fashion, but we don't want our clothes to come at the cost of people
                or our planet.</p>
            </div>
          </a>
          <div class="item-related__image">
            <img src="./images/related/woman.jpg" alt="Woman" width="420" height="350">
          </div>
        </article>
      </div>
    </div>
  </section>
</div>