// .about {
//     min-height: 100%;
// }

section.about-hero {
    min-height: 100vh;
}

.about-hero__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.about-hero__container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px 20px;
}


.about-hero__content {
    position: relative;
    z-index: 2;
    margin: 0px auto;
    padding: 50px 20px;
    max-width: 1200px;

    color: #fbd784;
    font-size: 18px;
    letter-spacing: 6px;

    text-transform: uppercase;
}

.parallax {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 1;

}

.parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/about/hero-about-1.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    ;
    background-size: cover;

}

// .about-hero__label {
//     display: flex;
//     margin: 0px 0px 30px 0px;
//     padding: 20px 0 0 0;
//     align-items: center;

//     &::before {
//         flex: 0 0 70px;
//         content: "";
//         margin: 0px 30px 0px 0px;
//         background-color: #fbd784;
//         height: 1px;
//     }
// }


.about-hero__title {
    position: relative;
    display: flex;
    margin: 0px 0px 30px 0px;
    padding: 50px 0 0 0;
    align-items: center;

    &::before {
        flex: 0 0 70px;
        content: "";
        align-self: center;
        margin-right: 30px;
        background-color: currentColor;
        height: 1px;
    }

}

//content

.about-content {
    position: relative;
    z-index: 2;
    padding: 30px 10px;
    color: #fff;
    background-color: #0b1d26;
    box-shadow: 0 50px 50px #0b1d26;
}

.about-content::before,
.about-content::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, rgba(38, 37, 11, 0) 25%, #0b1d26 100%);
}



// .about-content__container {
//     display: flex;
//     gap: 30px;

// }

.about-content__thumb {
    /// position: relative;
    //width: 45vw;
    //padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: inset 0 50px 50px #0b1d26;
}

.about-content__img {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.about-content__text {
    //width: 40vw;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 1.1px;
}

.about-content__text p {
    margin: 0px 0px 30px 0px;
}

// .content__img {
//     // position: absolute;
//     // top: 30px;
//     // left: 30px;
//     // float: left;
//     // margin: 0 10px 10px 0;

// }

@media (max-width: 767px) {
    .parallax__title {
        font-size: 50px;
    }

    .parallax__label {
        font-size: 16px;
        margin: 0px 0px 15px 0px;
    }
}

@media (max-width: 479px) {
    .parallax__title {
        font-size: 36px;
    }

    .parallax__label::before {
        flex: 0 0 50px;
        margin: 0px 10px 0px 0px;
    }
}