.home__sections,
.article__sections {
    display: grid;
    gap: 100px;
}

@include max-tablet {

    .home__sections,
    .article__sections {
        gap: 70px;
    }
}

@include max-mobile {

    .home__sections,
    .article__sections {
        gap: 40px;
    }
}

// .home__main-slider::before {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 40;
//     width: 100%;
//     height: 100%;

//     background-color: rgba(166, 217, 255, 0.3);
//     mix-blend-mode: overlay;
// }

.main-slider {
    min-width: 0;

    &__wrapper {
        display: flex;
    }

    &__slide {
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        background-color: rgba(0, 69, 138, 0.5);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__container {
        position: relative;
        z-index: 2;

        min-height: 100vh;
        gap: .9375rem;
        padding-top: 6.25rem;
        padding-bottom: 8.75rem;
    }
}

.main-slider__wrapper-content {
    position: absolute;
    left: 0;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    width: 95%;
    padding-left: 5px;
    padding-right: 5px;
}

.main-slider__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.category {
    display: inline-block;
    padding: .3125rem .625rem;

    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    text-shadow: .0313rem .5008px .0625rem rgb(54, 54, 54),
        -0.0313rem -0.0313rem .0625rem rgb(255, 255, 255);
    border-radius: .5rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: .625rem;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 300ms;
}

.category:hover {
    background: rgba(255, 255, 255, 0.7);
}

.main-slider__title {
    max-width: 33.125rem;
}

.main-slider__body {
    display: flex;
    align-items: baseline;
    gap: 11px;
    color: #E5E5E5;
}

.main-slider__date {
    display: flex;
    align-items: center;
    gap: .687rem;
    line-height: 1.25;

    &::after {
        content: '';
        width: 30px;
        height: 1px;
        background-color: currentColor;
    }
}

.text {
    max-width: 26.25rem;
}

.bullets {
    position: relative;
    z-index: 49;
    margin-top: -8.75rem;
}

.bullets__items {
    display: flex;
    align-items: center;
    gap: .625rem;
    height: 8.75rem;
}

.bullets__items .swiper-pagination-bullet {
    flex: 0 0 .5rem;
    height: .5rem;
    border-radius: 50%;
    background: rgba(255, 255, 255);
    opacity: 0.2;
    transition: opacity 300ms;
    cursor: pointer;

}

.bullets__items .swiper-pagination-bullet-active {
    opacity: 1;
}

@include max-mobile {
    .bullets__items {
        justify-content: center;
    }
}

.main-slider__category,
.main-slider__title,
.main-slider__body {
    transform: translate(0px, 3.125rem);
    opacity: 0;
    transition: all 0.8s;

}


.loaded .main-slider__category {
    transition-delay: 0.5s;
}

.loaded .main-slider__title {
    transition-delay: 0.7s;
}

.loaded .main-slider__body {
    transition-delay: 0.9s;
}

.loaded .main-slider__category,
.loaded .main-slider__title,
.loaded .main-slider__body {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.8s;

}

.main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-slider__text p {
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(8.2px);
    color: #E5E5E5;
}

.main-slider__main-icons {
    display: flex;
    flex-direction: column;

    transition: 0.5s ease-in-out;

}

.main-slider__main-icons a {
    color: #fff;
    filter: drop-shadow(0.0313rem 1px 0.0625rem rgb(14, 14, 14));

    font-size: 1.4em;
    transition: 0.5s ease-in-out;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

a:hover > i .fa-brands {
    transform: scale(1.1);
}

@include max-tablet-laptop {
    .main-slider__main-icons {
        right: .9375rem;
    }
}