.popular {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 45px;

        color: #495057;
    }


}

.popular__nav {
    transition: all 300ms ease-in-out;

    &:focus .nav-popular__item,
    &:hover .nav-popular__item {
        transform: scale(.98);
        box-shadow: none;
    }

    &:focus .nav-popular__item:focus,
    &:hover .nav-popular__item:hover {
        padding: 5px;
        border-radius: 5px;
        transform: scale(1.2);
        box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
        background: rgba(249, 248, 255, 0.3);
        box-shadow: -2px -2px 5px #fff, 2px 2px 5px #cdd0df;
    }
}

.nav-popular__item {
    transition: all 300ms ease-in-out;

    &:active {
        position: relative;
        top: 1.5px;
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff, 0 -1px 1px #495057;
    }
}

.popular__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    column-gap: 1.25rem;
    row-gap: 3.125rem;
    transition: all 300ms ease-in-out;

    // & > article:nth-child(5) {
    //     grid-column: span 2;
    // }

    // article:nth-last-child(2) {
    //     grid-column: span 2;
    // }

    &:focus .popular__item,
    &:hover .popular__item {
        transform: scale(.98);
        box-shadow: none;
    }

    &:focus .popular__item:focus,
    &:hover .popular__item:hover {
        transform: scale(1);
        box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
        background: rgba(241, 239, 253, 0.5);
    }
}

.popular__tab {
    display: none;
}

.popular__tab.active {
    display: block;
}

.nav-popular {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: .3125rem;
    column-gap: 1.25rem;
}

.nav-popular__item {
    position: relative;
    font-weight: 700;
    line-height: 1.39;
    border: none;
    outline: none;
    background-color: transparent;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: .125rem;
        background-color: #D4A373;

    }

    &.active::after,
    &:hover::after {
        width: 100%;
        left: 0;
        transition: all 300ms ease-in-out;
        ;
    }
}

.item-popular {
    position: relative;
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    gap: 10px;
    // place-items: stretch stretch;
    justify-items: stretch;
    align-items: stretch;




    &__category {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    &__image {
        position: relative;
        overflow: hidden;

        border-radius: 5px;
        padding-bottom: 90.32%;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 40;
            width: 100%;
            height: 100%;

            background-color: rgba(52, 58, 64, 0.2);
            mix-blend-mode: multiply;
        }
    }
}

.item-popular__image img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 300ms ease-in-out;
}

.item-popular__image:hover img {
    transform: scale(1.05);
}

.item-popular__date {
    color: #6C757D;

    font-weight: 400;
    font-size: .75rem;
    line-height: 1.38;
}

.item-popular__title {
    margin: 0;
}

.item-popular__link-title {
    font-size: 1.125rem;
    line-height: 1.25;
    color: #495057;
    transition: all 300ms ease-in-out;

    &:hover {
        text-decoration: underline;
        text-shadow: 1px 0.3px 1px rgb(255, 255, 255), -1px -0.3px 1px rgb(255, 255, 255);
    }
}

.item-popular__text {
    color: #6C757D;
    margin-bottom: 0;
}

@include max-mobile {
    .popular__header {
        flex-direction: column;
        margin-bottom: 1.5625rem;
    }

    .popular__items {
        row-gap: 1.875rem;
    }

}